{% extends "base.html" %}
{% load static %}


{% block content %}
    <style>
        html, body{
            height: 100%;
            margin: 0;
        }
        h1 {
        font-weight: 500;  
        }
        #main {
            background-image: url("{% static 'images/Carbon0_Website_No_Logo1.png' %}");
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0%;
            overflow: hidden;
            max-height: 100%;
            height: 100vh;
        }
    </style>

    <div id="main">
        <div id="app" style="display: flex; justify-content: center; align-items: center;"></div>
        <div class="container">
            <!-- Header -->
            <h1 class="mt-5 mb-5 blue-header">Leaderboard</h1>
            <!-- Player List -->
            <table class="table text-white">
                <thead>
                    <tr>
                        <th scope="col">
                            <h1>Position</h1>
                        </th>
                        <th scope="col">
                            <h1>Username</h1>
                        </th>
                        <th scope="col">
                            <h1>Score</h1>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Iterate over the list of positions, players, and footprints -->
                    {% for player in players %}
                        <tr>
                            <th class="leaderboard-value" style="color:#3FC5F0" scope="row">
                                {{ forloop.counter }}
                            </th>
                            <td class="leaderboard-value">{{ player.0 }}</td>
                            <td class="leaderboard-value">{{ player.1 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}