<!-- carbon0/garden/templates/garden/plant/detail.html -->

{% extends "base.html" %}

{% block content %}
    <div class="container">
         <!-- Plant Title -->
        <div class="row mt-5 mb-2 ml-3">
            <h1 class="blue-header">{{ plant.nickname }}</h1>
        </div>
        <!-- Plant Conditions -->
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p class="row">
                    Type: {{ plant.common_name }}
                </p>
                <p class="row">Conditions:</p>
                <p class="row">{{ plant.description }}</p>
            </div>
            <!-- Actions for the Plant -->
            <div class="col-md-6">
                <!-- Health Check and Back Buttons -->
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <a href="#" class="btn btn-success">Add Health Check</a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'garden:plant_list' %}" class="btn btn-info">
                            Back to Plant List
                        </a>
                    </div>
                </div>
                <!-- Update and Delete Plant Buttons -->
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <!-- TODO -->
                    </div>
                    <div class="col-md-6">
                        <!-- TODO -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Leaf Cards for this Plant -->
        <div class="row justify-content-center">
            <div class="card-columns">
                {% for leaf in plant_leaves %}
                    {% include "partials/leaf_card.html" %}}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
