{% load static %}
<!-- Header, if missions found -->
<h1 class="row mb-4 justify-content-center pt-3 ml-1" style="color:rgb(147, 255, 147); font-weight: 500;">
    Example Missions
</h1>
<!-- Instructions for the User -->
<div class="text-white">
    <div class="row mt-2 mx-2 justify-content-center">
        <p>Based on what we know, we've randomly chosen 3 Missions you may like. </p>
    </div>
    <div class="row mx-2 justify-content-center">
        <p style="color: rgb(242, 255, 0)"> Complete 1 mission and sign up, </p>
    </div>
    <div class="row mb-2 mx-2 justify-content-center">
        <p>and then we can send you on personalized journeys to <br>
            <p style="color: rgb(119, 221, 255)" class="ml-1">rank on the leaderboard</p> , and
            <p style="color:rgb(81, 254, 121)" class="ml-1">decrease your carbon footprint!</p>
        </p>
    </div>
</div>

