<!-- Header, if missions found -->
<h1 class="row mb-4 justify-content-center pt-3 ml-1" style="color:#3FC5F0; font-weight: 400; font-size: 50px; line-height: 45px;">
    We've Found Missions For You!
</h1>
<!-- Instructions for the User -->
<div class="row my-2 mx-2 justify-content-center">
    <p class="text-white" style="font-size: 15px;">
        Based on your responses to the questions, we recommend the following as ways to reduce your carbon footprint! Choose
        a mission:
    </p>
</div>
