{% load static %}
<!-- Header, if missions found -->
<h1 class="row mb-4 justify-content-center">
    <p class="mt-2" style="color:green;">Wow! You're Pretty Green</p>
</h1>
<!-- Instructions for the User -->
<div class="row mt-3 ml-5 mb-4 justify-content-center">
    <p style="font-size: 15px;">
        Based on your responses to the quiz, we weren't able to find any specific missions for you.
    </p>
    <p><strong>So instead, we randomly generated 3 missions you might like!</strong></p>
</div>

