<!-- carbon0/carbon_quiz/templates/partials/quiz_footprint.html -->
<div class="card border-light" style="background-color:#143963">
    <div class="card-body">
        <h4 class="card-title" style="color:white;">Your Carbon Footprint</h4>
        <!-- <h6 class="card-subtitle mb-2">Based on Questions Answered "No"</h6> -->
        <p class="card-text text-white">{{ quiz.carbon_value_total }} metric tons CO2</p>
        <!-- Display of Bar Chart -->
        <canvas id="carbonCalculator" width="700rem" height="560rem"></canvas>
        <!-- JS to make the bar chart -->
        <script type="module">
            import {carbonCalculator} from '../../../../static/js/carbonCalculator.js';
            $(document).ready(function () {
                // get the data on the carbon footprint from the API
                let endpoint = '/api/quiz-data/{{ quiz.id }}/'
                let plotData = []
                let plotLabels = [];
                $.ajax({
                    method: "GET",
                    url: endpoint,
                    success: function (data) {
                        plotLabels = data.labels
                        plotData = data.footprint
                        carbonCalculator(plotLabels, plotData)
                    },
                    error: function (error_data) {
                        console.log(error_data)
                    }
                })
            })
        </script>
    </div>
</div>
