<!-- carbon0/carbon_quiz/templates/partials/user_footprint.html -->
<div class="card" style="background-color:#143963">
    <div class="card-body">
        <h4 class="card-title" style="color:white;">Your Updated Carbon Footprint</h4>
        <!-- <h6 class="card-subtitle mb-2">Based on Questions Answered "No"</h6> -->
        <h5 class="card-text text-white"><strong>{{ achievement.quiz.carbon_value_total }} metric tons CO2</strong></h5>
        <!-- Display of Bar Chart -->
        <canvas id="barChart" width="700" height="160rem"></canvas>
        <!-- JS to make the bar chart -->
        <script type="module">
            import { barChart } from '../../../../static/js/barChartFunction.js';
            $(document).ready(function () {
                // get the data on the carbon footprint from the API
                let endpoint = '/api/profile-data/{{ profile.id }}/'
                let plotData = []
                let plotLabels = [];
                $.ajax({
                    method: "GET",
                    url: endpoint,
                    success: function (data) {
                        plotLabels = data.labels
                        plotData = data.footprint
                        barChart(plotLabels, plotData)
                    },
                    error: function (error_data) {
                        console.log(error_data)
                    }
                })
            })
        </script>
    </div>
</div>