<!-- AchievementCreate template -->
<!-- carbon0/carbon_quiz/templates/carbon_quiz/achievement/create.html -->
{% extends "base.html" %}
{% load static %}

{% block metadata %}
<!-- Taken from = http://jsfiddle.net/TBJ83/3/ -->
<script>
    $(function() {
    setIFrameSize();
    $(window).resize(function() {
      setIFrameSize();
    });
  });
  
  function setIFrameSize() {
    var ogWidth = 700;
    var ogHeight = 600;
    var ogRatio = ogWidth / ogHeight;
  
    var windowWidth = $(window).width();
    if (windowWidth < 480) {
      var parentDivWidth = $(".iframe-size").parent().width();
      var newHeight = (parentDivWidth / ogRatio);
      $(".iframe-size").addClass("iframe-class-resize");
      $(".iframe-class-resize").css("width", parentDivWidth);
      $(".iframe-class-resize").css("height", newHeight);
    } else {
      $(".iframe-size").removeClass("iframe-class-resize").css({
        width: '',
        height: ''
      });
    }
  }
</script>
  
{% endblock %}

{% block content %}
<style>
    .iframe-container{
        width: 100%;
        height: 500px;
    }
    .iframe-size{
        width: 100%;
        height: 100%;
        overflow: auto;
    }
</style>

<div style="background-color:#143963; height: 100vh;">
    <div class="container">
        <!-- Header -->
        <h1 class="row mt-2" style="color:white;">
            Complete Your Mission
        </h1>
        <!-- Title of the Mission -->
        <h3 class="row ml-2 text-white">{{ mission.title }}</h3>
        <!-- Web View of Mission Link -->
        <div class="row text-white">
            <div class="col-md-8">
                <!-- Site Preview -->
                <div class="row ml-2">
                    <p>
                        <strong>Action:</strong> {{ mission.action }}.<br>
                        When you are finished on the website linked below, come back and 
                        select "Mission Completed" so we can give you your prize! <br>
                        <a class="link-overview mission-link" href="{{ link.address }}" target="_blank">
                            Preview Link: {{ link.description }}
                        </a>
                        <!-- Link Preview -->
                        <div class="container" id="iframe-container">
                            <iframe src="{{ link.address }}" id="iframe-size"></iframe>
                        </div>
                    </p>
                </div>
                <!-- Mission Complete Button -->
                <div class="row ml-2">
                    <form method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-success" value="Mission Completed">
                    </form>
                </div>
            </div>
            <!-- Capt. Joy Image -->
            <div class="col-md-4">
                {% include "partials/captain_joy_image.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}