<!-- AchievementDetail template -->
<!-- carbon0/carbon_quiz/templates/carbon_quiz/achievement/detail.html -->
{% extends "base.html" %}
<!-- Load static files, and page content below -->
{% load static %}

{% block metadata %}
    <!-- Chart.js and Chartjs-Gauge -->
    <script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js"></script>
    <script src="https://unpkg.com/chartjs-gauge@0.2.0/dist/chartjs-gauge.js"></script>
    <!-- Data Labels Plug-in for Chart.js -->
    <script src="https://unpkg.com/chartjs-plugin-datalabels@0.7.0/dist/chartjs-plugin-datalabels.js"></script>

        <!-- Am Chart js-->
        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    
    
    <!-- Mixpanel JS SDK -->
    <script>(function (c, a) {
            if (!a.__SV) {
                var b = window; try { var d, m, j, k = b.location, f = k.hash; d = function (a, b) { return (m = a.match(RegExp(b + "=([^&]*)"))) ? m[1] : null }; f && d(f, "state") && (j = JSON.parse(decodeURIComponent(d(f, "state"))), "mpeditor" === j.action && (b.sessionStorage.setItem("_mpcehash", f), history.replaceState(j.desiredHash || "", c.title, k.pathname + k.search))) } catch (n) { } var l, h; window.mixpanel = a; a._i = []; a.init = function (b, d, g) {
                    function c(b, i) {
                        var a = i.split("."); 2 == a.length && (b = b[a[0]], i = a[1]); b[i] = function () {
                            b.push([i].concat(Array.prototype.slice.call(arguments,
                                0)))
                        }
                    } var e = a; "undefined" !== typeof g ? e = a[g] = [] : g = "mixpanel"; e.people = e.people || []; e.toString = function (b) { var a = "mixpanel"; "mixpanel" !== g && (a += "." + g); b || (a += " (stub)"); return a }; e.people.toString = function () { return e.toString(1) + ".people (stub)" }; l = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
                    for (h = 0; h < l.length; h++)c(e, l[h]); var f = "set set_once union unset remove delete".split(" "); e.get_group = function () { function a(c) { b[c] = function () { call2_args = arguments; call2 = [c].concat(Array.prototype.slice.call(call2_args, 0)); e.push([d, call2]) } } for (var b = {}, d = ["get_group"].concat(Array.prototype.slice.call(arguments, 0)), c = 0; c < f.length; c++)a(f[c]); return b }; a._i.push([b, d, g])
                }; a.__SV = 1.2; b = c.createElement("script"); b.type = "text/javascript"; b.async = !0; b.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ?
                    MIXPANEL_CUSTOM_LIB_URL : "file:" === c.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; d = c.getElementsByTagName("script")[0]; d.parentNode.insertBefore(b, d)
            }
        })(document, window.mixpanel || []);
        // initialize the Mixpanel tracker
        mixpanel.init("{{ MP_PROJECT_TOKEN }}", { batch_requests: true })
    </script>

    <!-- Facebook Open Graph Markup -->
    <meta property="og:url" content="https://www.playcarbon0.com" />
    <meta property="fb:app_id" content="{{ app_id }}" />
    <meta property="og:title" content="Be a Hero, Get to Zero!" />
    <meta property="og:description" content="Will you join me in the game to save the planet?" />
    <meta property="og:image" content="{% static 'images/background_2.png' %}" />
{% endblock %}

{% block content %}
<style>
    #achieve-detail-main {
        background-image: url("{% static 'images/Carbon0_Website_No_Logo1.png' %}");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0%;
        overflow: hidden;
    }
</style>

    <div style="background-color:#143963; min-height: 100vh;" id="achieve-detail-main">
        <div class="flex-container mx-1">
            <div class="row justify-content-center mx-1">
                <!-- Image, Mission Complete Ribbon-->
                <img src="{% static 'images/Present-_Mission_Completed-flat.png' %}" alt="" style="height: 180px;">
            </div>
            <div class="row justify-content-center mx-1">
                <p class="text-white">
                    <!-- Intro the Zeron -->
                    {% if achievement.mission %}
                        Say hello to your new Zeron! Be sure to share with friends - more of them are coming to Earth soon!
                    <!-- Add a Special Message When it's the Grand Prize Zeron -->
                    {% else %}
                        You have completed all the Missions so far - as a prize, you've unlocked the rarest Zeron 🌳 <br>
                        Way to go Eco-Hero!
                    {% endif %}
                </p>
            </div>

            <!-- Body of Page -->
            <div class="row">
                <!-- 1st Column -->
                <div class="col-md-6">
                    <div class="d-flex justify-content-center">
                        <model-viewer src="{% static browser_model %}"
                            ios-src="{% static ios_model %}"
                            poster="PNG goes here"
                            alt="3D model of a Zeron" shadow-intensity="1" camera-controls auto-rotate ar>
                            <!-- Error Message -->
                            <div id="error" class="hide">AR is not supported on this device</div>
                        </model-viewer>
                        <!-- JS to handle AR errors https://modelviewer.dev/examples/augmentedreality/index.html#customButton -->
                        <script>
                            document.querySelector("#model-viewer").addEventListener('ar-status', (event) => {
                                if (event.detail.status === 'failed') {
                                    const error = document.querySelector("#error");
                                    error.classList.remove('hide');
                                    error.addEventListener('transitionend', (event) => {
                                        error.classList.add('hide');
                                    });
                                }
                            });
                        </script>
                    </div>
                </div>
                <!-- 2nd Column -->
                <div class="col-md-6">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Authenticated users: Show the new carbon footprint -->
                                {% if profile %}
                                {% include "partials/user_footprint.html" %}
                                <!-- Un-authenticated users: Show the new carbon footprint -->
                                {% else %}
                                    {% include "partials/footprint_after_achievement.html" %}
                                {% endif %}
                            </div>
                            <div class="col-md-6 justify-content-center" style="text-align: center">
                                <h2 class="mt-4" style="font-weight: 300; color:#3FC5F0; font-size: 30px;"> Lets Be Social! </h2>

                                <div class="row my-1 justify-content-center" style="text-align: center;">
                                    <div class="d-flex justify-content-center">
                                            <!-- <h3>Share your Achievement!</h3> -->
                                            <div class="row">
                                                <!-- Facebook Share Button -->
                                                <div class="mr-auto">
                                                    <div class="fb-share-button" data-href="https://mycarbon0.com" data-layout="button_count" data-size="large"><a
                                                            id="share-on-facebook"                                                                                                         
                                                            target="_blank"
                                                            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmycarbon0.com%2F&amp;src=sdkpreparse"
                                                            class="fb-xfbml-parse-ignore">Share</a>
                                                    </div>
                                                </div>
                            
                                                <script>
                                                        // function logs whenever someone shares the website
                                                    let shareAttempt = (platform) => {
                                                        // log the action of starting the quiz
                                                        mixpanel.track("shareAttempted", {
                                                            "platform": platform
                                                        });
                                                    }
                                                    // listen for when a user clicks the Facebook share button
                                                    document.getElementById("share-on-facebook").addEventListener("click", shareAttempt("Facebook"));
                                                </script>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 justify-content-center align-middle">
                                <div class="row my-1 justify-content-center" style="text-align: center;">
                                    <div class="d-flex justify-content-center">
                                        <!-- Link to More Missions -->
                                        {% if achievement.quiz %}
                                            <!-- Missions on the Related Quiz -->
                                            <a class="ml-auto carbon0-button my-2" href="{% url 'carbon_quiz:quiz_detail' achievement.quiz.slug 5 %}">
                                        {% else %}
                                            <!-- All Uncompleted Missions -->
                                            <a class="ml-auto carbon0-button my-2" href="{% url 'carbon_quiz:mission_list'%}">
                                        {% endif %}
                                            Want More Missions?</a>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-md-6 justify-content-center align-middle">
                                <div class="row my-1 justify-content-center" style="text-align: center;">
                                    <div class="d-flex justify-content-center">
                                        <!-- Link to Sign Up -->
                                        {% if user.is_authenticated is False %}
                                        <a class="btn-lg btn-primary my-2" href="{% url 'accounts:signup' achievement.secret_id %}">Sign Up for More</a>
            
                                        {% endif %}
                                    </div>
                                </div>
                                
                                    
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
{% endblock %}