<!-- AchievementDetail template -->
<!-- carbon0/carbon_quiz/templates/carbon_quiz/achievement/detail.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
    <div style="background-color:rgb(255, 220, 176); height: 100vh;">
        <div class="container">
            <!-- Header -->
            <h1 class="row ">
                <p class="mt-2" style="color:brown;">Congratulations!</p>
            </h1>
            <p class="row">Say hello to your new Zeron! Be sure to share with friends - more of them are coming to Earth soon!</p>
            <!-- Image, Mission Complete Ribbon-->
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'images/Present-_Mission_Completed.png' %}" alt="" width=300px height=300px>
                </div>
                <div class="col-md-8">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <!-- Short Blurb -->
                            <p class="text-center" style="color:rgb(169, 102, 21); background-color: rgb(247, 247, 247);">"{{ achievement.zeron_say_hello }}"</p>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-4"><!-- Placeholder column --></div>
                            <div class="col-md-4">
                                <!-- Zeron model viewer -->
                                <model-viewer src="{% static browser_model %}"
                                    ios-src="{% static ios_model %}"
                                    poster="PNG goes here"
                                    alt="3D model of a Zeron" shadow-intensity="1" camera-controls auto-rotate ar>
                                </model-viewer>
                            </div>
                            <div class="col-md-4"><!-- Placeholder column --></div>
                        </div>
                </div>
            </div>

            <!-- Link to Sign Up -->
            <div class="row justify-content-end">
                <a class="btn btn-primary" href="{% url 'accounts:signup' %}">Sign Up for More</a>
            </div>
        </div>
    </div>
{% endblock %}