<!-- QuizCreate template -->
<!-- carbon0/carbon_quiz/templates/carbon_quiz/quiz/create.html -->
{% extends "base.html" %}

{% load static %}

{% block content %}
    <style>
        body {
            background-color: #F6E6D4;
        }

        h1 {
            color: #7F2321;
            font-weight: 300
        }
        h3{
            line-height: 75px
        }
    </style>
    {% include 'partials/navbar.html' %}

    <div class="container" style="max-height: 100%;">
        <div class="row">
            <h1 class="my-2 ml-2">Welcome to the Carbon Quiz!</h1>
            <h3 class="ml-2">Let's get to know you. <br>
                I'll ask 5 questions that show how much carbon you create per year. <br>
                This is called your <i>carbon footprint</i>.
            </h3>
        </div>
        <div class="row d-flex justify-content-center my-3">
            <!-- Call to ACTION: Go to the First Questions -->
            <form class='float' method='post'>
                {% csrf_token %}
                <input type="submit" value="Go to the First Question" class="btn-lg btn-success rounded-pill">
            </form>
        </div>
        <!-- Greeting Image -->
        <div class="row ml-1">
            <h5>You'll also get a chance to see some of your new Zeron friends!</h5>
        </div>
        <div class="row justify-content-center">
            <!-- <img src="{% static 'images/3D_tree.png' %}" alt="Diet Zeron" width=690rem height=400rem>
            <img src="{% static 'images/3D_Carrot.png' %}" alt="Diet Zeron" width=450rem height=400rem> -->
            <div class="col">
                <img src="{% static 'images/3D_tree.png' %}" alt="Diet Zeron" style="max-width: 100%">
            </div>
            <div class="col">
                <img src="{% static 'images/3D_Carrot.png' %}" alt="Diet Zeron" style="max-width: 100%;">
            </div>
        </div>
    </div>
{% endblock %}