<!-- QuizDetail template -->
<!-- carbon0/carbon_quiz/templates/carbon_quiz/quiz/detail.html -->
{% extends "base.html" %}
{% load static %}

{% block metadata %}
<!-- Mixpanel JS SDK -->
<script>(function (c, a) {
        if (!a.__SV) {
            var b = window; try { var d, m, j, k = b.location, f = k.hash; d = function (a, b) { return (m = a.match(RegExp(b + "=([^&]*)"))) ? m[1] : null }; f && d(f, "state") && (j = JSON.parse(decodeURIComponent(d(f, "state"))), "mpeditor" === j.action && (b.sessionStorage.setItem("_mpcehash", f), history.replaceState(j.desiredHash || "", c.title, k.pathname + k.search))) } catch (n) { } var l, h; window.mixpanel = a; a._i = []; a.init = function (b, d, g) {
                function c(b, i) {
                    var a = i.split("."); 2 == a.length && (b = b[a[0]], i = a[1]); b[i] = function () {
                        b.push([i].concat(Array.prototype.slice.call(arguments,
                            0)))
                    }
                } var e = a; "undefined" !== typeof g ? e = a[g] = [] : g = "mixpanel"; e.people = e.people || []; e.toString = function (b) { var a = "mixpanel"; "mixpanel" !== g && (a += "." + g); b || (a += " (stub)"); return a }; e.people.toString = function () { return e.toString(1) + ".people (stub)" }; l = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
                for (h = 0; h < l.length; h++)c(e, l[h]); var f = "set set_once union unset remove delete".split(" "); e.get_group = function () { function a(c) { b[c] = function () { call2_args = arguments; call2 = [c].concat(Array.prototype.slice.call(call2_args, 0)); e.push([d, call2]) } } for (var b = {}, d = ["get_group"].concat(Array.prototype.slice.call(arguments, 0)), c = 0; c < f.length; c++)a(f[c]); return b }; a._i.push([b, d, g])
            }; a.__SV = 1.2; b = c.createElement("script"); b.type = "text/javascript"; b.async = !0; b.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ?
                MIXPANEL_CUSTOM_LIB_URL : "file:" === c.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; d = c.getElementsByTagName("script")[0]; d.parentNode.insertBefore(b, d)
        }
    })(document, window.mixpanel || []);
    // initialize the Mixpanel tracker
    mixpanel.init("{{ MP_PROJECT_TOKEN }}", { batch_requests: true })
</script>
{% endblock %}

{% block content %}
    <div style="background-color:rgb(255, 220, 176); height: 200vh">
        <div class="container">
            <!-- if User is viewing a Question -->
            {% if question %}
                <!-- Header -->
                <h1 class="row">
                    <p class="mt-2" style="color:brown;">Carbon Calculator</p>
                </h1>
                <!-- Ask the Question -->
                <div class="row ml-5 mt-3">
                    <div class="btn btn-warning" style="background-color:rgb(245, 186, 114)">
                        <h3 class="text-white ml-5 mr-5">
                            {{ question.question_text }}
                        </h3>
                    </div>
                </div>
                <!-- Show the buzzers, Capt Joy, and info box -->
                <div class="row">
                    <!-- buzzers and info -->
                    <div class="col-md-8">
                        <div class="row">
                            <!-- Yes and No Buzzers-->
                            <div class="col-md-6">
                                <img src="{% static 'images/Present-yes.png' %}" 
                                    alt="Yes" width=400px height=400px onclick="nextQuestion('1')">
                            </div>
                            <div class="col-md-6">
                                <img src="{% static 'images/Present-_No.png' %}" 
                                    alt="No" width=400px height=400px onclick="nextQuestion('0')">

                            </div>
                            <!-- JS function to go to the next quiz question -->
                            {% include 'partials/next_question_script.html' %}
                        </div>
                        
                        <div class="row justify-content-center">
                                <!-- Carbon Value Card -->
                                {% include "partials/quiz_footprint.html" %}
                        </div>
                    </div>
                    <div class="col-md-4 justify-content-center">
                        <!-- Captain Joy -->
                        {% include "partials/captain_joy_image.html" %}
                    </div>
                </div>   
            <!-- if User is viewing their Missions -->
            {% else %}
                {% if is_random is False %}
                    {% include "partials/missions_suggested.html" %}
                <!-- if no missions for the user -->
                {% else %}
                    {% include "partials/missions_not_suggested.html" %}
                {% endif %}
                <div class="row">
                    <!-- List links for Mission Details -->
                    {% for mission in missions %}
                    <div class="col justify-content-center">
                        <div class="d-flex justify-content-center">
                            <div class="card"
                                style="width: 13rem; background-color: rgb(255, 220, 176); border: 1px solid transparent;">
                                <img src="{% static 'images/Carbon0_Logo_GDC.png' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <!-- <h5 class="card-title">{{ mission.title }}</h5> -->
                                    <p class="card-text" style="height: 5rem">{{ mission.action }}</p>
                                    <a href="{% url 'carbon_quiz:mission_detail' mission.pk quiz.slug %}"
                                        class="btn btn-primary">{{ mission.title }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row pt-4 justify-content-center">
                    <!-- Carbon Value Card -->
                    {% include "partials/quiz_footprint.html" %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
