<!-- QuizDetail template -->
<!-- carbon0/carbon_quiz/templates/carbon_quiz/quiz/detail.html -->
{% extends "base.html" %}

{% block content %}
    <div style="background-color:rgb(255, 220, 176); height: 100vh;">
        <div class="container">
            <!-- if User is viewing a Question -->
            {% if show_question %}
            <!-- Header -->
            <h1 class="row mb-4">
                <p class="mt-2" style="color:brown;">Carbon Calculator</p>
            </h1>
            <!-- Ask the Question -->
            <div class="row mt-3 ml-5 mb-4">
                <div class="btn btn-warning" style="background-color:rgb(245, 186, 114)">
                    <h3 class="text-white mt-2 mb-2 ml-5 mr-5">
                        {{ question.question_text }}
                    </h3>
                </div>
            </div>
            <br>
            <br>
            <!-- Show the buzzers, Capt Joy, and info box -->
            <div class="row mt-5">
                <!-- buzzers and info -->
                <div class="col-md-8">
                    <div class="row">
                        <!-- Yes and No Buzzers-->
                        <div class="col-md-6">
                            <a href="{% url 'carbon_quiz:quiz_detail' quiz.slug question.id %}">
                                <img src="#" alt="Yes">Yes
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'carbon_quiz:quiz_detail' quiz.slug 0 %}">
                                <img src="#" alt="Yes">No
                            </a>
                        </div>
                    </div>
                    <!-- Info Box-->
                    <div class="row">

                    </div>
                </div>
                <!-- Captain Joy -->
                <div class="col-md-4">
                    <img src="#" alt="Captain Joy Goes Here">
                </div>
            </div>
            
            <!-- if User is viewing their Missions -->
            {% else %}
            {% endif %}

        </div>
        
    </div>
{% endblock %}