<!-- MissionDetail template -->
<!-- carbon0/carbon_quiz/templates/carbon_quiz/mission/detail.html -->
{% extends "base.html" %}

{% block content %}
<div style="background-color:rgb(255, 220, 176); height: 100vh;">
    <div class="container">
        <!-- Header -->
        <h1 class="row mb-4">
            <p class="mt-2" style="color:brown;">{{ mission.title }}</p>
        </h1>

        <!-- Mission Description -->
        <div class="row mb-5">
            <h5 class="ml-5">
                Click on <a class="text-danger" style="text-decoration: none;" href="#">{{ mission.clicks_needed}}</a>
                of these links to <a class="text-danger" style="text-decoration: none;" href="#">{{ mission.action }}</a> now!
                <br>
                And take a photo to show us you completed your mission!
            </h5>
        </div>
        <br>
        <br>

        <!-- Image of Mission, More info -->
        <div class="row mt-5 mb-5">
            <div class="col-md-2">
                <img src="#" alt="image goes here">
            </div>
            <!-- More about the mission-->
            <div class="col-md-4">
                    <div class="btn btn-warning" style="background-color:rgb(245, 186, 114)">
                        <p class="text-white mt-2 mb-2 ml-5 mr-5">
                            {{ mission.learn_more }}
                        </p>
                    </div>
            </div>
            <div class="col-md-6">
                <!-- filler -->
            </div>
        </div>
        <div class="row mt-5 ml-5">
            <ul class="list-group list-group-horizontal"></ul>
                {% for link in mission.links %}
                    <li class="list-group-item mr-5">
                        LINK
                    </li>
                {% endfor %}
            </ul>
        </div>



    </div>

</div>
{% endblock %}