<!-- carbon0/carbon_quiz/templates/carbon_quiz/mission/list.html -->
{% extends "base.html" %}
{% load static %}
<!-- List links for Mission Details -->
{% block content %}
    <style>
        #mission-list-main {
            background-image: url("{% static 'images/Carbon0_Website_No_Logo1.png' %}");
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0%;
        }
    </style>

    <div style="background-color:#143963; height: 100vh;" id="mission-list-main">
        <div class="container">
            <!-- Intro Text -->
            <div class="row justify-content-center pt-3" style="color:white;">
                <h1>Carbon Missions</h1>
            </div>
            <div class="row pl-2">
                <h3>Here are the missions we think you might enjoy, based on your level!</h3>
            </div>
            <!-- Missions on Display -->
            <div class="row justify-content-center>">
                <div class="card-columns">
                    {% for mission in missions %}
                        {% include "partials/mission_card.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}