<!-- carbon0/carbon_quiz/templates/carbon_quiz/mission/list.html -->
{% extends "base.html" %}
{% load static %}
<!-- Player Selects which Category their about to Track their progress on -->
{% block content %}

<!-- Mission Recommendations -->

<div class="starry-background">
    <div class="container">
        <h1 class="row mb-4 justify-content-center pt-3 ml-1"
            style="color:#3FC5F0; font-weight: 400; font-size: 50px; line-height: 45px;">
            Your Next Missions:
        </h1>
        <h1 class="row justify-content-center pt-1 ml-1"
            style="color:white; font-weight: 400; font-size: 20px; line-height: 45px;">
            There are 5 different journeys you can go on to reduce your footprint and help save the planet
        </h1>
        <div class="row">
            {% for item in categories %}
            <div class="col justify-content-center ">
                <div class="d-flex justify-content-center">
                    {% include "partials/mission_category_link.html" %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}