<!-- carbon0/garden/templates/partials/leaf_card.html-->
<div class="carbon0-card card mb-3">
    {% load static %}
    <div class="row card-header justify-content-center">
        <!-- Nickname is How the User Can identify their plants -->
        <div class="card-title col-md-8">
            <h3 class="black-header">
                Date: {{ leaf.date_uploaded }}
            </h3>
        </div>
    </div>
    <div class="card-body border-dark">
         <!-- Show the Date This Leaf Was Uploaded -->
        <div class="row">
            <div class="col-md-6">
                
            </div>
        </div>
        <!-- Display the Health Check Status, w/ Confidence Level -->
        <div class="row justify-content-start">
            <div class="col-md-6">
                <div style="overflow: hidden;">
                    <p class="card-text text-dark ml-3" style="float: left;">
                        Status: 
                    </p>
                    <!-- Display the Status in Different Colors-->
                    {% if leaf.status == "H" %}
                        <p class="card-text text-success ml-2" style="float: left;">
                            Healthy
                        </p>
                    {% elif leaf.status == "U" %}
                        <p class="card-text text-danger ml-2" style="float: left;">
                            Unhealthy
                        </p>
                    {% elif leaf.status == "M" %}
                        <p class="card-text text-warning ml-2" style="float: left;">
                            Moderate
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-start" style="overflow: hidden;">
            <div class="col-md-6">
                 <p class="card-text text-dark ml-3" style="float: left;">
                    Confidence: {{ leaf.get_confidence }}
                </p>
            </div>
        </div>
        <hr>
        <!-- User sees an image of the Leaf -->
        <div class="row justify-content-center">
            <img src="{{ leaf.image.url }}" class="card-img-top" alt="Leaf Image">
        </div>
        <!-- TODO: Link to the Full Analysis (LeafDetail) -->
        <div class="row justify-content-center">
            <a href="#">Click here for more details!</a>
        </div>
    </div>
</div>
