<!-- carbon0/garden/templates/partials/plant_card.html-->
<div class="carbon0-button card border-info mb-3">
    <div class="row card-header justify-content-center">
        <!-- Nickname is How the User Can identify their plants -->
        <div class="col-md-8">
            <h3>{{ plant.nickname }}</h3>
        </div>
        <!-- User also gets buttons to do an action -->
        <div class="col-md-4">
             <a href="#" class="btn btn-info">See More</a>
        </div>
    </div>
    <div class="card-body border-dark">
        <div class="row justify-content-center">
            <!-- Display the Latest Updated of the Plant -->
            <div id="health-preview-{{ plant.id }}" class="col-md-8">
            </div>
            <!-- User can Delete the Plant -->
            <div class="col-md-4">
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
        <hr>
        <!-- User sees an image of the plant -->
        <div class="text-right">
            {% if plant.is_edible is True %}
                <img src="{% static 'icons/Veggie_Bowl.png' %}" 
                class="card-img-top" alt="Edible plant image">
            {% else %} <!-- the plant is helping sequester carbon dioxide -->
                <img src="{% static 'icons/Flying.png' %}" 
                class="card-img-top" alt="Plants helps us to sequester CO2!" />
            {% endif %}
        </div>
    </div>
</div>

<!-- JS to give the health preview -->
<script type="module">
    import { footprintPlot } from '../../../../static/js/footprintPlotFunction.js';
    $(document).ready(function () {
        // get the data on the carbon footprint from the API
        let endpoint = "{% url 'api:footprint_change' profile.id %}"
        let plotData = []
        let plotLabels = [];
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                plotLabels = data.Events
                plotData = data.Footprint
                footprintPlot(plotLabels, plotData)
            },
            error: function (error_data) {
                console.log(error_data)
            }
        })
    })
</script>