<!-- carbon0/garden/templates/partials/plant_card.html-->
<div class="card border-info mb-3">
    <div class="row card-header justify-content-center">
        <!-- Nickname is How the User Can identify their plants -->
        <div class="col-md-8">
            <h3>{{ plant.nickname }}</h3>
        </div>
        <!-- User also gets buttons to do an action, or delete-->
        <div class="col-md-4">
            <div class="row justify-content-center">
                <a href="#" class="btn btn-info">See More</a>
            </div>
            <div class="row justify-content-center">
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    <div class="card-body border-dark">
        <p class="card-text text-dark">
            <ul>
                <!-- fields in note -->
                <li>Location: <strong>{{ airport.location }}</strong></li>
            </ul>
        </p>
        <hr>
        <div class="text-right">
            <a href="{% url 'airports:airport_details' airport.slug %}" title="See More">See More</a>
        </div>
    </div>
    <div class="card-footer row">
    </div>
</div>