<!-- carbon0/garden/templates/partials/plant_card.html-->
{% load static %}
<div class="carbon0-card card mb-3">
    <!-- Nickname is How the User Can identify their plants -->
    <div class="card-header">
        <h3 class="card-title black-header">{{ plant.nickname }}</h3>
    </div>
    <div class="card-body border-dark">
        <div class="row justify-content-center">
            <!-- Display the Latest Updated of the Plant -->
            <div id="health-preview-{{ plant.id }}" class="col-md-8">
            </div>
            <!-- TODO: User can Delete the Plant -->
        </div>
        <!-- TODO: User sees an image of the plant -->
        <div class="card-body">
            {% if plant.is_edible is True %}
                <p class="text-dark">This plant counts towards your <strong>Diet</strong> level on Carbon0.</p>
            {% else %} <!-- the plant is helping sequester carbon dioxide -->
                <p class="text-dark">This plant counts towards your <strong>Offsets</strong> level on Carbon0.</p>
            {% endif %}
        </div>
        <hr>
        <!-- User also gets buttons to do an action -->
        <div class="row justify-content-center mt-1">
             <a href="{% url 'garden:plant_detail' plant.slug %}" class="btn btn-info">See More</a>
        </div>
    </div>
</div>

<!-- JS to give the health preview -->
<script type="module">
    import { displayHealthPreview } from '../../../../static/js/healthPreview.js';
    $(document).ready(function () {
        // get the data on the plant's current health
        let endpoint = "{% url 'api:plant_health_preview' plant.id %}";
        let lastStatus = "";
        let lastUpdated = "";
        const elemID = "health-preview-{{ plant.id }}";
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                lastStatus = data.latestStatus;
                lastUpdated = data.lastUpdated;
                displayHealthPreview(elemID, lastStatus, lastUpdated);
            },
            error: function (error_data) {
                console.log(error_data)
            }
        })
    })
</script>