
/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

.site {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

.site-header,
.site-footer {
  flex: none; /* 2 */
}

.site-content {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
}
.site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
@media (--break-lg) {
  .site-content {
    padding-top: var(--space-lg);
  }
  .site-content::after {
    margin-top: var(--space-lg);
  }
}

.site-content--full {
  padding: 0;
}
.site-content--full::after {
  content: none;
}

a.mission-link {
  color: white;
}

a.mission-link:hover {
  background-color: green;
}

.mission_selection_button{
  margin-top: 1vh;
  margin-bottom: 3vh;
  background-color: white;
  padding: 5px 8px;
  -webkit-appearance: none;
  font-size: vi;
  border-radius: 16px;
  white-space: nowrap;
  /* overflow: hidden; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  min-width: vmax;
  font-family: "Coda", sans-serif;
  outline: none;
  border: 0px;
  font-weight: 500;
    
}

@media only screen and (min-width: 600px) {
  .mission_selection_button {
    padding: 6px 10px;
    font-size: vi;
  }
}

h3{
  font-weight: 500;
}

a {
  color: #0ed60b
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
ol,
ul,
label,
span {
  font-family: "Coda", sans-serif;
  color: white;
}

input, button, a {
    font-family: "Coda", sans-serif;
}

label, p {
  font-size: 16px;
  line-height: 24px;
  color: white;
}

h1 {
  font-size: 35px;
  line-height: 30px;
}


@media only screen and (min-width: 600px) {
  h1 {
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
  }
}

h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
@media only screen and (min-width: 600px) {
  h2 {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
  }
}

h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
@media only screen and (min-width: 600px) {
  h3 {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
  }
}

h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
@media only screen and (min-width: 600px) {
  h4 {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
  }
}

h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
@media only screen and (min-width: 600px) {
  h5 {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
  }
}

input, textarea {
  -webkit-appearance: none;
}

#foot {
    background-color: #445C3C;
}

.carbon0-button {
  background-color: white;
  padding: 10px 16px;
  -webkit-appearance: none;
  font-size: 16px;
  border-radius: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  min-width: 150px;
  font-family: "Coda", sans-serif;
  outline: none;
  border: 0px;
}
@media only screen and (min-width: 600px) {
  .carbon0-button {
    padding: 12px 20px;
    font-size: 26px;
  }
}

.carbon0-card {
/* to be combined with Bootstrap card class - especially care about the border radius */
font-size: 16px;
border-radius: 16px; 
overflow: hidden;
text-align: center;
text-decoration: none;
display: inline-block;
font-family: "Coda", sans-serif;
outline: none;
border: 0;

}


/* https://stackoverflow.com/questions/16056591/font-scaling-based-on-width-of-container */
.carbon0-button-mission {
  background-color: white;
  padding: 5px 8px;
  -webkit-appearance: none;
  font-size: vi;
  border-radius: 16px;
  white-space: nowrap;
  /* overflow: hidden; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  min-width: vmax;
  font-family: "Coda", sans-serif;
  outline: none;
  border: 0px;
}
@media only screen and (min-width: 600px) {
  .carbon0-button-mission {
    padding: 6px 10px;
    font-size: vi;
  }
}

.link-overview:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}

.box{
    display: none;
    width: 100%;
}

model-viewer {
    height: 500px;
    width: 400px;
}


/* Using Code found, some edits need to be made most likely */
.speech-bubble {
	position: relative;
	background: #ffffff;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-top-color: #ffffff;
    border-bottom: 0;
    /* Change this to change which way the tail points */
	border-right: 0;
	margin-left: -15px;
	margin-bottom: -30px;
}

#chartdiv{
  max-width: 100%;
  max-height: 100%;
  /* width: 450px; 
  height: 260px; */
}

@media only screen and (min-width: 600px) {
  #chartdiv {
    width: 450px; 
    height: 260px;
  }
}

.starry-background {
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0%;
  overflow: hidden;
  background-color:#143963; 
  min-height: 100vh;
}

.blue-header {
  color:#3FC5F0; 
  font-weight: 500; 
  font-size: 7vh; 
  line-height: 6vh;
}

.white-header {
  color: rgb(255, 255, 255); 
  font-weight: 500; 
  line-height: 6vh;
}

.white-header-smaller {
    color: rgb(255, 255, 255);
    font-weight: normal;
    line-height: 6vh;
    font-size: 1.4em;

}


.green-header {
    color: rgb(118, 228, 97);
    font-weight: 500;
    line-height: 6vh;
}

.black-header {
  color: rgb(39, 41, 39);
  /* set following properties to their defaults, unlike above h3 styles */
  font-weight: normal; 
  font-size: 1.2em;

}

.leaderboard-value {
  font-family: "Coda", sans-serif;
  font-weight: 500;  
}

.main {
    background-image: url("../images/Carbon0_Website_No_Logo1.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;
    max-height: 100%;
    min-height: 100vh;
}
