<!-- LoginView template -->
<!-- carbon0/accounts/templates/accounts/auth/login.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}

    <style>
        body { background-color:#F6E6D4;}
        h1 { color:#7F2321; font-weight: 300}
    </style>

    {% include 'partials/navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img alt="CaptainJoy" src="{% static 'images/Captain_Joy_Solar_Panel_Transparent_background_(1).png' %}" style="width: 50vh">
            </div>
            <div class="col">
                    <strong><h1 class="display-3 mt-5 font-weight-bold">Sign In</h1></strong>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="col">
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        </div>
                    {% endfor %}
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Sign In!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Social Login with Facebook and Google -->
    {% include 'partials/social_login.html' %}
{% endblock %}