<!-- LoginView template -->
<!-- carbon0/accounts/templates/accounts/auth/login.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}

    <style>
        html,body { 
            background-color:#143963;
            height: 100%;
            margin: 0;
        }
        h1 { font-weight: 300}

        img[alt="CaptainJoy"] {
          height: 150px;

        }
        #acc-auth-login{
            background-image: url("{% static 'images/Carbon0_Website_No_Logo1.png' %}"); 
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0%;
            min-height: 95%;
            height: 100vh;
        }

        @media only screen and (min-width: 600px) {
          img[alt="CaptainJoy"] {
            height: 50vh;
          }

        }
    </style>

    <div id="acc-auth-login">
        <!-- Display Success Message, if user just signed up -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }} alert alert-success" {% endif %}>{{ message }}</p>
                    {% endfor %}
            </div>
        {% endif %}
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="display-3 mt-5 white-header mb-4">Welcome Back</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img alt="CaptainJoy" src="{% static 'images/Captain_Joy_Solar_Panel_Transparent_background_(1).png' %}">
                </div>
                <div class="col-md-6">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="col">
                                <p>
                                    {{ field.label_tag }}<br>
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <p style="color: yellow">{{ error }}</p>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endfor %}
                        <div class="row justify-content-left">
                            <div class="col-md-2 ml-3 mr-2 mb-2">
                                <input type="submit" value="Sign In!" class="btn btn-primary">
                            </div>
                            <div class="col-md-4 ml-3">
                                <!-- Display Link to Sign Up -->
                                {% if secret_id is not None %}
                                    <a href="{% url 'accounts:signup' secret_id %}" class="btn btn-success">New Player?</a>
                                {% else %}
                                    <a href="{% url 'accounts:signup' %}" class="btn btn-success">New Player?</a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <!-- Social Login with Facebook and Google -->
                    {% include 'partials/social_login.html' %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
