{% extends 'base.html' %}

{% block content %}
  <h2>Settings - User Info</h2>
  <h1>Django Social Login App</h1>
    <hr/>
      {% if user.is_authenticated %}
      You are signed in as <strong>{{ user.username }}</strong> 
      <!-- 

        open form tag
        include csrf_token
        

      -->

        <a href="{% url 'accounts:logout' %}">logout</a>
      {% else %}
        <a href="{% url 'accounts:login' %}">login</a> /
      {% endif %}
    <hr>

  
  {% if facebook_login %}
  <h3>Facebook LOGIN</h3>
  <h4>{{ user.username }}</h4>
    <p>Connected as <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></p>
  {% endif %}

 
  {% if google_login %}
  <h3>Google LOGIN</h3>
  <p>{{ google_login.uid }}</p>
  <h4>{{ user.username }}</h4>
    <p>Connected as <a href="https://google.com/{{ google_login.extra_data.uid }}/" target="_blank">{{ google_login.extra_data.id }}</a></p>
  {% endif %}

{% endblock %}