<!-- carbon0/templates/index.html -->
<!-- Landing Page template -->
{% extends "base.html" %}
{% load static %}

{% block metadata %}
<!-- Mixpanel JS SDK -->
<script>(function (c, a) {
        if (!a.__SV) {
            var b = window; try { var d, m, j, k = b.location, f = k.hash; d = function (a, b) { return (m = a.match(RegExp(b + "=([^&]*)"))) ? m[1] : null }; f && d(f, "state") && (j = JSON.parse(decodeURIComponent(d(f, "state"))), "mpeditor" === j.action && (b.sessionStorage.setItem("_mpcehash", f), history.replaceState(j.desiredHash || "", c.title, k.pathname + k.search))) } catch (n) { } var l, h; window.mixpanel = a; a._i = []; a.init = function (b, d, g) {
                function c(b, i) {
                    var a = i.split("."); 2 == a.length && (b = b[a[0]], i = a[1]); b[i] = function () {
                        b.push([i].concat(Array.prototype.slice.call(arguments,
                            0)))
                    }
                } var e = a; "undefined" !== typeof g ? e = a[g] = [] : g = "mixpanel"; e.people = e.people || []; e.toString = function (b) { var a = "mixpanel"; "mixpanel" !== g && (a += "." + g); b || (a += " (stub)"); return a }; e.people.toString = function () { return e.toString(1) + ".people (stub)" }; l = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
                for (h = 0; h < l.length; h++)c(e, l[h]); var f = "set set_once union unset remove delete".split(" "); e.get_group = function () { function a(c) { b[c] = function () { call2_args = arguments; call2 = [c].concat(Array.prototype.slice.call(call2_args, 0)); e.push([d, call2]) } } for (var b = {}, d = ["get_group"].concat(Array.prototype.slice.call(arguments, 0)), c = 0; c < f.length; c++)a(f[c]); return b }; a._i.push([b, d, g])
            }; a.__SV = 1.2; b = c.createElement("script"); b.type = "text/javascript"; b.async = !0; b.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ?
                MIXPANEL_CUSTOM_LIB_URL : "file:" === c.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; d = c.getElementsByTagName("script")[0]; d.parentNode.insertBefore(b, d)
        }
    })(document, window.mixpanel || []);
    // initialize the Mixpanel tracker
    mixpanel.init("{{ MP_PROJECT_TOKEN }}", { batch_requests: true })
</script>
{% endblock %}

{% block content %}
<!-- HERO -->
<style>
    #foot {
        background-color: #445C3C;
        /* position: absolute; */
        overflow: hidden;

    }

    @media (max-width: 300px) {
        p {
            font-size: 2rem;
        }
    }

    p {
        font-size: 6vw;
        font-family: "American Typewriter";
        color: white
    }

    #main-land {
        background-image: url('{% static 'images/Carbon0_Website_back true.png' %}');
        height: 80vh;
        background-size: cover;
        background-repeat: no-repeat
    }
</style>
{% include 'partials/navbar.html' %}

<div class="container-fluid" id="main-land">
    <div class="row">
        <div class="col-2">
            <img src="{% static 'images/Carbon0_Logo_GDC.png' %}" alt="Logo" style="max-width: 100%">
        </div>
        <div class="col-8">
            <div class="container pt-4">
                <div class="embed-responsive embed-responsive-16by9">
                    {% include "partials/intro_video_player.html" %}
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <div class="container">
                <div class="row align-items-center" style="height: 20vh">
                    <div class="col justify-content-center">
                        <div class="d-flex justify-content-center">
                            <!-- Call to ACTION: Play the Game for the First Time -->
                            <div class="d-flex justify-content-center">
                                <script>
                                    // function to track each time a goes to the instructions page
                                    let beginQuiz = () => {
                                        // log the action of starting the quiz
                                        mixpanel.track("beginQuiz", {});
                                    }
                                </script>
                                <a href="{% url 'carbon_quiz:quiz_create' %}" onclick="beginQuiz()" type="button"
                                    class="btn btn-primary rounded-pill" style="width: 150px">NEW PLAYER</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-4 my-auto"></div> -->
                    <div class="col justify-content-center">
                        <div class="d-flex justify-content-center">
                            <!-- Call to ACTION: Login -->
                            <a href="{% url 'accounts:login' %}" type="button" class="btn btn-success rounded-pill"
                                style="width: 150px">LOGIN</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-2">
            <img src="{% static 'images/Captain_Joy_Solar_Panel_Transparent_background_(1).png' %}" alt="CaptainJoy"
                style="max-width: 100%; position: absolute; bottom: 0">
        </div>
    </div>
</div>

<footer class="footer-bottom" id="foot">
    <!-- Use fixed-bottom in the class to keep it fixed -->
    <div class="container">
        <p style="display:inline; color: white">Be A </p>
        <p style="display:inline; color: #49beb7">Hero </p>
        <p style="display:inline; color: white">Get to</p>
        <p style="display:inline; color: #49beb7"> Zero</p>
    </div>
    <div class="container" style="background-color: #445C3C;">
        <div class="row justify-content-center">
            <div id="add-2-home-screen" class="col-md-4">
                <!-- Add to Home Screen Button -->
                <script>
                    // JS function to make a new button
                    const addBtn = (text) => {
                        // detect if the user is on Android or iOS
                         if (
                            (navigator.userAgent.indexOf("Android") != -1) ||
                            (navigator.userAgent.indexOf("like Mac") != -1)
                        ) {
                            // grab the div we want to add the button to
                            buttonDiv = document.getElementById("add-2-home-screen");
                            // make the button
                            const btn = document.createElement("button");
                            btn.innerText = text;
                            // add CSS classes
                            btn.classList.add("btn");
                            btn.classList.add("btn-info");
                            // add it to our HTML document
                            buttonDiv.appendChild(btn);
                            return btn;
                        }
                    }
                    // call the function
                    addBtn("Add to Home Screen!");
                </script>
            </div>
        </div>
    </div>
</footer>
{% endblock %}