<!-- carbon0/templates/index.html -->
<!-- Landing Page template -->
{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- HERO -->
    <style>
        #foot { 
            background-color:#F6E6D4;
            /* position: absolute; */
        }
        p { font-size: 10vh }
    </style>
    {% include 'partials/navbar.html' %}

    <div class="container-fluid" style="background-image: url('{% static 'images/background_2.png' %}'); height: 90vh; background-size: cover; background-repeat: no-repeat;">
        <div class="container pt-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jZ_YdamxG30" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-center" style="height: 20vh">
                <div class="col justify-content-center">
                    <div class="d-flex justify-content-center">
                     <!-- Call to ACTION: Play the Game for the First Time -->
                        <form class='float' method='post'>
                            {% csrf_token %}
                            <input type="submit" value="PLAYER" class="btn btn-primary rounded-pill" style="width: 150px">
                        </form>
                    </div>
                </div>
                <!-- <div class="col-md-4 my-auto"></div> -->
                <div class="col justify-content-center">
                    <div class="d-flex justify-content-center">
                    <!-- Call to ACTION: Login -->
                        <a href="{% url 'accounts:login' %}" type="button" class="btn btn-success rounded-pill" style="width: 150px">LOGIN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer" id="foot">
        <!-- Use fixed-bottom in the class to keep it fixed -->
        <div class="container">
            <p class="text-primary">Be A Hero Get to Zero</p>
        </div>
    </footer>
{% endblock %}