<!-- carbon0/templates/index.html -->
<!-- Landing Page template -->
{% extends "base.html" %}
{% load static %}

{% block metadata %}
    <!-- Mixpanel JS SDK -->
    <script type="module">(function (c, a) {
            if (!a.__SV) {
                var b = window; try { var d, m, j, k = b.location, f = k.hash; d = function (a, b) { return (m = a.match(RegExp(b + "=([^&]*)"))) ? m[1] : null }; f && d(f, "state") && (j = JSON.parse(decodeURIComponent(d(f, "state"))), "mpeditor" === j.action && (b.sessionStorage.setItem("_mpcehash", f), history.replaceState(j.desiredHash || "", c.title, k.pathname + k.search))) } catch (n) { } var l, h; window.mixpanel = a; a._i = []; a.init = function (b, d, g) {
                    function c(b, i) {
                        var a = i.split("."); 2 == a.length && (b = b[a[0]], i = a[1]); b[i] = function () {
                            b.push([i].concat(Array.prototype.slice.call(arguments,
                                0)))
                        }
                    } var e = a; "undefined" !== typeof g ? e = a[g] = [] : g = "mixpanel"; e.people = e.people || []; e.toString = function (b) { var a = "mixpanel"; "mixpanel" !== g && (a += "." + g); b || (a += " (stub)"); return a }; e.people.toString = function () { return e.toString(1) + ".people (stub)" }; l = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
                    for (h = 0; h < l.length; h++)c(e, l[h]); var f = "set set_once union unset remove delete".split(" "); e.get_group = function () { function a(c) { b[c] = function () { call2_args = arguments; call2 = [c].concat(Array.prototype.slice.call(call2_args, 0)); e.push([d, call2]) } } for (var b = {}, d = ["get_group"].concat(Array.prototype.slice.call(arguments, 0)), c = 0; c < f.length; c++)a(f[c]); return b }; a._i.push([b, d, g])
                }; a.__SV = 1.2; b = c.createElement("script"); b.type = "text/javascript"; b.async = !0; b.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ?
                    MIXPANEL_CUSTOM_LIB_URL : "file:" === c.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; d = c.getElementsByTagName("script")[0]; d.parentNode.insertBefore(b, d)
            }
        })(document, window.mixpanel || []);
        // initialize the Mixpanel tracker
        mixpanel.init("{{ MP_PROJECT_TOKEN }}", { batch_requests: true })
    </script>
{% endblock %}

{% block content %}
    <!-- HERO -->
    <style>
        #foot { 
            background-color:#F6E6D4;
            /* position: absolute; */
            overflow: hidden;

        }
        @media (max-width: 300px) {p {  font-size: 2rem;  }}
        p { font-size: 6vw }
    </style>
    {% include 'partials/navbar.html' %}

    <div class="container-fluid" style="background-image: url('{% static 'images/background_2.png' %}'); height: 90vh; background-size: cover; background-repeat: no-repeat;">
        <div class="container pt-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jZ_YdamxG30" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-center" style="height: 20vh">
                <div class="col justify-content-center">
                    <div class="d-flex justify-content-center">
                     <!-- Call to ACTION: Play the Game for the First Time -->
                        <div class="d-flex justify-content-center">
                        <script>
                            // function to track each time a goes to the instructions page
                            let beginQuiz = () => {
                                // log the action of starting the quiz
                                mixpanel.track("beginQuiz", {});
                            }
                        </script>
                            <a href="{% url 'carbon_quiz:quiz_create' %}" onclick="beginQuiz()" type="button" class="btn btn-primary rounded-pill" style="width: 150px">PLAYER</a>
                        </div>
                    </div>
                </div>
                <div class="col justify-content-center">
                    <div class="d-flex justify-content-center">
                    <!-- Call to ACTION: Login -->
                        <a href="{% url 'accounts:login' %}" type="button" class="btn btn-success rounded-pill" style="width: 150px">LOGIN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer" id="foot">
        <!-- Use fixed-bottom in the class to keep it fixed -->
        <div class="container">
            <p class="text-primary">Be A Hero Get to Zero</p>
        </div>
    </footer>
{% endblock %}