.leaderboard {
    color: blue;
    text-align: center;
}

.card {
    width: 18rem;
    margin: .5em;
}

.card-leader {
    width: 22rem;
}

.card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

}

body {
    background-color:#F6E6D4;
}

table.table-bordered{
    border:  0px solid black; /* to clear bootstrap bordering */

    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
table.table-bordered > thead > tr > th{
    border:  0px solid black;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:  0px solid black;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}