<!-- carbon0/accounts/templates/tracker/photo_upload.html -->
{% extends "base.html" %}
{% load static %}
<!-- Player Selects which Category their about to Track their progress on -->
{% block content %}

<!-- Mission Recommendations -->

<div class="starry-background">
    <div class="container">
        <h1 class="mb-4 justify-content-center pt-3"
            style="color:#3FC5F0; font-weight: 400; font-size: 50px; line-height: 45px;">
            Upload Your Reminder
        </h1>
        
        <form method="post" enctype="multipart/form-data" class="ml-2">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <input class="btn btn-success" type="submit" value="Update">
        </form>
    </div>
</div>

{% endblock %}