<style>
    #nav1 {
        background-color: #f6e6d4;
        /*whichever you want*/
        opacity: 0.7;
        filter: (opacity=50);
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav1">
    <a class="navbar-brand" href="{% url 'landing_page' %}">Carbon0</a>

    <div>Hello,
        <strong>
            {% if user.get_username %} 
                {{ user.get_username }} 
            {% else %} 
                Guest 
            {% endif %} 
        </strong>!
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggle" aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navToggle">
        <ul class="navbar-nav">
            <li class="nav-item active nav-link">
                <a class="nav-link"
                  href="{% url 'accounts:leaderboard' %}">
                  Leaderboard
                </a>
            </li>
            <li class="nav-item nav-link">
                {% if user.get_username %} 
                    <a class="nav-link nav-item active"
                    href="{% url 'accounts:profile' %}">Profile</a>
                {% else %}
                    <a class="nav-link disabled"
                    href="#">Profile</a>
                {% endif %}
            </li>
            <!-- If user is authenticated, show a link to their Plants -->
            <li class="nav-item nav-link active">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'garden:plant_list' %}" 
                    class="btn btn-success">My Garden</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
