<!-- carbon0/accounts/templates/partials/mission_button.html -->
{% load static %}
<style>
    .mission_selection_button{
        margin-top: 1vh;
        margin-bottom: 1vh;
        background-color: white;
        padding: 5px 8px;
        -webkit-appearance: none;
        font-size: vi;
        border-radius: 16px;
        white-space: nowrap;
        /* overflow: hidden; */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        min-width: vmax;
        font-family: "Coda", sans-serif;
        outline: none;
        border: 0px;
        font-weight: 500;
        
    }

    @media only screen and (min-width: 600px) {
      .mission_selection_button {
        padding: 6px 10px;
        font-size: vi;
      }
    }

    h3{
      font-weight: 500;
      color: #0ed60b
    }
</style>
<!-- <button></button> -->
<!-- <a href="#" class="mission_selection_button" href="{% static 'images/Carbon0_Logo_GDC.png' %}"></a> -->
<!-- https://stackoverflow.com/questions/1621891/html-how-to-make-a-submit-button-with-text-image-in-it -->

<button type="submit" class="mission_selection_button" href="#">
    <h3>
        {{ item }}
    </h3>
    <!-- ["Offsets Journey","Diet Journey","Recycling Journey","Utilities Journey","Transit Journey"] -->
    {% if item == "Offsets Journey" %}
      <img src="{% static 'icons/Flying.png' %}" alt="Image" style="max-height: 15vh"/>
    {% elif item == "Diet Journey" %}
      <img src="{% static 'icons/Veggie_Bowl.png' %}" alt="Image" style="max-height: 15vh"/>
    {% elif item == "Recycling Journey" %}
      <img src="{% static 'icons/Recycling.png' %}" alt="Image" style="max-height: 15vh"/>
    {% elif item == "Utilities Journey" %}
      <img src="{% static 'icons/Solar_Panel.png' %}" alt="Image" style="max-height: 15vh"/>
    {% elif item == "Transit Journey" %}
      <img src="{% static 'icons/Gasoline_Transport.png' %}" alt="Image" style="max-height: 15vh"/>
    {% endif %}
</button>