<!-- carbon0/accounts/templates/partials/social_login.html -->
{% load static %}
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-4 mr-5">
            <img alt="SignInWith" src="{% static 'images/sign_in_with.png' %}">
        </div>
        <div class="col-md-3 ml-5">
            <a href="{% url 'social:begin' 'facebook' %}">
                <img alt="Facebook" src="{% static 'images/facebook_img.png' %}">
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'social:begin' 'google-oauth2' %}">
                <img alt="Google" src="{% static 'images/Google_Logo.png' %}" width=290rem height=290rem>
            </a>
        </div>
        <!-- Other Social Buttons -->
        <!--
            <div class="col-sm">
                <a href="https://www.snapchat.com/">
                    <img alt="Snapchat" src="{#{% static 'images/snapchat_img.png' %}#}">
                </a>
            </div>
            <div class="col-sm">
                <a href="https://twitter.com/">
                    <img alt="Twitter" src="{#{% static 'images/twitter_img.png' %}#}">
                </a>
            </div>
            <div class="col-sm">
                <a href="https://web.whatsapp.com/">
                    <img alt="WhatsApp" src="{#{% static 'images/whatsapp_img.png' %}#}">
                </a>
            </div>
            <div class="col-sm">
                <a href="https://www.linkedin.com/">
                    <img alt="LinkdIn" src="{#{% static 'images/linkedin_img.png' %}#}">
                </a>
            </div>
            -->
    </div>
</div>